{% extends '::layout.html.twig' %}

{% block jumbotron %}
    {{ render(controller('RLCMSBundle:Block:render', {
    'name': 'home/jumbotron',
    'template': 'jumbotron'
    })) }}
{% endblock %}



{% block content %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            {{ render(controller('RLCMSBundle:Block:render', {
            'name': 'home/heading/1'
            })) }}
        </div>
        <div class="col-md-4">
            {{ render(controller('RLCMSBundle:Block:render', {
            'name': 'home/heading/2'
            })) }}
        </div>
        <div class="col-md-4">
            {{ render(controller('RLCMSBundle:Block:render', {
            'name': 'home/heading/3'
            })) }}
        </div>
    </div>
{% endblock %}