{% extends '::admin.html.twig' %}

{% block page_title %}Block edit{% endblock %}

{% block page_content -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_block') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
